<header class="header py-3">
  <div class="d-flex gap-2">
    <button (click)="toggleSidebar()" class="menu-btn">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="search-box">
      <input type="text" placeholder="Search" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="button-group">
   
    <!-- <button class="display-none-style" (click)="openChat()">
      <i class="fa-solid fa-comment-dots"></i>
    </button> -->
    <!-- <button><i class="fa-solid fa-earth-americas"></i></button> -->

    <div class="btn-group display-none-style" ngbDropdown>
      <button class="dropdown-btn" id="dropdownBasic" ngbDropdownToggle>
        <i class="fa-solid fa-gear"></i>
      </button>
      <ul id="dropdown-basic" ngbDropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item"  (click)="logoutUser()">Log-Out</a></li>

      </ul>

    </div>
  </div>
</header>


