/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;

}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}
@import 'ngx-toastr/toastr';

:root {
  --primary-color: #171e31;
  --second-primary-color: #20263a;
  --gray-color-1: #b5b5c3;
  --gray-color-2: #8daac6;
  --purple-1: #4f89ab;
  --border-color: #5C607B;
  --white-color-1: #ffffffd9;
  --light-purple: #648fa8;
  --red-color: #dc3545;
  --text-primary: #ffffff;
  --text-secondary: #b5b5c3;
}










/* Buttons aur text ke liye thoda spacing aur color contrast */
.builder-group-button {
  color: var(--white-color-1) !important;
  font-weight: 500;
  text-align: left;
}



input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(2);
  /* icon ko white jesa banata hai */
  opacity: 1;
  /* ensure visible */
}








